/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE */

#dark {
  background-color: #333;
  color: white;
}

/* ======================= */
@media (max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
